/* Import Fonts from Google */
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: 
        Arial, Helvetica, sans-serif;
    font: 
        normal 100%/150% "Josefin-sans", "helvetica neue", Helvetic, Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40 0 40px;
}
 .text_click {
    text-decoration-line: none;
    color: black;
}
.option {
    background-color: red;
    
}
.option a {
    color: white;
}
nav li {
    list-style: none;
    
}
 .title {
     width: 100%;
     height: 5em;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rosybrown;
 }

.whole {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}



.paragraphs_1-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lead-content {
    margin: 1em;
}



.panda-icon {
    width: 111px;
    height: 128px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: red;
    }
}







/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: yellow;
    }
   
    nav ul {
        margin: 0;
    }
    nav li {
        padding: 0 .5em;
        margin: .5em;
    }

    .lead-content {
        display: flex;
        flex-wrap: nowrap;
        height: 250px;
    }
    
    h2 {
        padding: 0 0 1em 0;
        height: 40px;
    }
    .paragraphs_1-3 {
        width: 33.33%;
        padding: 0 0 0 .5em;
    }
}






/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: skyblue;
        width: 960px;
        margin: 0 auto;
    }
    .lead-content {
        display: flex;
        flex-wrap: nowrap;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    nav ul {
        margin: 0;
    }
    nav li {
        padding: 0 .5em;
        margin: .5em;
        background-color: goldenrod;
    }
}