/* Import Fonts from Google */
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font: normal 100%/150% "Josefin-sans", "helvetica neue", Helvetic, Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}
h1, h2, h3 {
    font-family: "Josefin Slab", Arial, serif;
    font-weight: bold;
}

header {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40 0 40px;
}
 .text_click {
    text-decoration-line: none;
    color: black;
}
.option {
    background-color: red;
    
}
.option a {
    color: white;
}

nav li {
    padding: 0 .5em;
    margin: .5em;
    list-style: none;
    background-color: goldenrod;
}
 .title {
     width: 100%;
     height: 5em;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(95, 141, 77);
 }

.paragraphs_1-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lead-content {
    margin: 1em;
}

.icon-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.panda-icon {
    width: 100%;
    display: flex;
    justify-content: center;
}
.actual-panda-icon {
    width: 111px;
    height: 128px;
}

.paragraph-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 .5em 0;
}
.html-icon {
    width: 71.25px;
    height: 66px;
}

.css-icon {
    width: 74px;
    height: 64.75px;
}

.js-icon {
    width: 64px;
    height: 64px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: rgb(46, 112, 173);
    }
}







/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: yellow;
    }
   
    nav ul {
        margin: 0;
    }
    nav li {
        padding: 0 .5em;
        margin: .4em;
    }

    .lead-content {
        display: flex;
        flex-wrap: nowrap;
        height: 250px;
    }
    
    h2 {
        padding: 0 0 1em 0;
        height: 40px;

    }
    .paragraphs_1-3 {
        width: 33.33%;
        padding: 0 .5em 0 .5em;
    }
    .icon-nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0em;
    }
    .panda-icon {
        display: flex;
        justify-content: flex-start;
        padding: 0 0 .5em .5em;
    }
     
}







/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: white;
        max-width: 64em;
        margin: 0em auto;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    nav ul {
        margin: 0;
    }
    nav li {
        padding: 0 .5em;
        margin: .5em;
        background-color: goldenrod;
    }
    .icon-nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0em;
    }
    .panda-icon {
        display: flex;
        justify-content: flex-start;
        padding: 0 0 .5em .5em;
    }
    
    .lead-content {
        display: flex;
        flex-wrap: nowrap;
    }

    h2 {
        padding: 0 0 1em 0;
        height: 40px;
    }
    .paragraphs_1-3 {
        margin: 0 1 0 1em;
    }

}